.eventos-section{
    padding: 30px 0;
}
.eventos-section .evento-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    padding: 10px 0;
}
.eventos-section .evento-content h1{
    text-align: center;
    font-size: 2rem;
    color: #d9782c;
    text-shadow: #000 1px 1px;
}
.eventos-section .evento-content form input{
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #d9782c;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.eventos-section .evento-content form button{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #d9782c;
    transition: all .5s ease-in-out;
}
.eventos-section .evento-content form button:hover{
    background: #d9782c;
    color: #000;
    transition: all .5s ease-in-out;
}
.evento-cards{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: auto;
    gap: 10px;
}
.evento-card-content{
    width: 220px;
    height: 300px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #d9782c;
    box-shadow: 1px 1px 9px #0000005b;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.evento-card-content .evento-card-img{
    border-radius: 5px;
    width: 100%;
    height: 70%;
}
.evento-card-content .evento-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.evento-card-content .evento-card-inf{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
}
.evento-card-content .evento-card-inf h5{
    font-size: 17px;
    color: #d9782c;
    text-shadow: #000 1px 1px;
    text-align: center;
}
.evento-card-content .evento-card-inf .evento-card-inf-link{
    text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 5px;
    background: #d9782c;
    border-radius: 5px;
    transition: all .4 ease-in-out;
}
.evento-card-content .evento-card-inf .evento-card-inf-link:hover{
    background: #d4b37f;
    font-size: 16px;
    transition: all .4 ease-in-out;
}