.sidebar {
    width: 230px;
    min-height: 50vh;
}

.sidebar nav{
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px 6px;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: #d9782c;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 16px;
}

.nav-link.active,
.nav-link:hover {
    background-color: #d4b37f36;
    color: black;
}
