.sidebar {
    min-width: 250px;
}
.sidebar nav{
    background: var(--color-text-light);
    box-shadow: 0 2px 8px var(--color-text-dark);
    padding: 30px 6px;
    min-height: 60vh;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: var(--color-accent);
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
}
.nav-link.active,
.nav-link:hover {
    background-color: var(--color-trasparent);
    color: var(--color-text-shadow);
}


@media(max-width: 768px){
    .sidebar {
        width: vw;
        padding: 0 3px;
    }
    .sidebar nav{
        display: flex;
        overflow: scroll;
        width: 100%;
        padding: 10px;
        min-height: auto;
        gap: 20px;
    }
}
