.customAlert {
    position: fixed;
    top: 20px;
    right: 80px;
    z-index: 9999;
    padding: 15px 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: #fff;
    animation: fadeIn 0.3s ease-in-out;
}
.customAlert span{
    font-size: 14px;
}
.customAlert.success {
    background-color: #2ecc71;
}
.customAlert.error {
    background-color: #e74c3c;
}
.customAlert.warning {
    background-color: #f39c12;
}
.customAlert.info {
    background-color: #3498db;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
