:root{
    --color00: #000000D2;
    --color01: #00000080;
    --color02: #FFFFFF;
    --color03: #D9782C;
    --color04: #D4B37F;
    --color05: #222;
    --color06: #333;
    --color07: #000;

    --shadow00: #0A0C10FC 15%;
    --shadow01: #0A0C10B3 50%;
    --shadow02: #0A0C10FC 85%;
}


/* heroSection */
.hero{
    position: relative;
    height: 100vh;
}
.heroSection{
    position: relative;
    height: 100vh;
}
.heroBackground{
    position: fixed;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
}
.heroBackground video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.heroBackground::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, var(--shadow00), var(--shadow01), var(--shadow02));
}
.heroContent{
    height: 80vh;
    display: flex;
    justify-content:  center;
    flex-direction: column;
}
.heroContent h1{
    font-size: 3rem;
    color: var(--color02);
    text-shadow: var(--color07) 1px 1px;
}
.heroContent p{
    color: var(--color02);
    text-shadow: var(--color07) 1px 1px;
    margin: 20px 0;
    line-height: 1.3;
    font-size: 17px;
}
.heroContent div{
    display: flex;
    column-gap: 32px;
}
.heroContent div .btnDescubra{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    transform: skew(-10deg);
    border: 1px solid var(--color03);
    transition: all .5s ease-in-out;
}
.heroContent div .btnDescubra:hover{
    background: var(--color03);
}


/* welcomeSection */
.welcomeSection {
    position: relative;
    width: 100%;
    background-color: #f9f9f9;
    padding: 30px 0;
}
.welcomeContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.welcomeSection .welcomeText h1{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--color05);
    text-shadow: var(--color07) 1px 1px;
}
.welcomeSection .welcomeText p{
    margin: 20px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: var(--color06);
    text-align: center;
}


/* cardsSection */
.cardsSection{
    width: 100%;
    background: var(--color04);
}
.cardsGrid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    padding: 60px 0;
}
.cardsGrid .card{
    width: 330px;
    height: 280px;
    border: 2px solid var(--color02);
    border-radius: 10px;
    padding: 20px;
}
.cardsGrid .card h1{
    text-align: center;
    text-shadow: var(--color07) 0px 0px 1px;
    color: var(--color02);
    margin-bottom: 20px;
}
.cardsGrid .card p{
    color: var(--color02);
    font-size: 16px;
    line-height: 1.5;
}


@media(max-width: 768px){

/* heroSection */
.heroContent{
    height: 100vh;
}
.heroContent h1{
    font-size: 1.8rem;
}


/* welcomeSection */
.welcomeSection .welcomeText h1{
    font-size: 30px;
}
.welcomeSection .welcomeText p{
    margin: 20px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}


/* cardsSection */
.cardsGrid{
    flex-direction: column;
}
.cardsGrid .card{
    width: 100%;
}

}

