.verperfil-section{
  padding: 60px 0;
  width: 100%;
}
.verperfil-section h1{
    color: var(--color-text-primary);
    text-shadow: var(--color-text-shadow) 1px 1px;
    font-size: var(--font-size-title);
}

.perfil-conteudo {
  padding: 30px 0;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.perfil-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img{
    background-color: var(--color-accent);
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

.perfil-info p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-text-primary);
}
.perfil-info strong {
  font-weight: bold;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .perfil-conteudo {
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 2rem;
  }
}
