:root{
    --color001: #d4b37f36;
    --color002: #000000e5;
    --color003: #fff;
    --color004: #d9782c;
}

/* header */
.header{
    background-color: var(--color001);
    box-shadow: 1px 1px 1px var(--color002);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2px 0 8px 0;
}
.userName{
    background: #d9772cb4;
    width: 40%;
    padding: 2px 10px;
    transform: skew(-10deg);
    border-radius: 10px;
}
.userName p, .userName p strong{
    font-size: 14px;
    text-shadow: #000 1px 1px;
    color: #fff;
}
.navBar{
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLogo .navLink{
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: #000 1px 1px;
    color: #d9782c;
}
.navBarLogo .navLink::after{
    content: '';
    width: 70%;
    height: .3rem;
    background-color: var(--color004);
    transform: skew(-10deg);
    box-shadow: #000 1px 1px;
    display: block;
}
.navMenu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navMenu .navLink{
    transition: 0.5s ease;
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    text-shadow: #000 1px 1px;
    color: #fff;
}
.navMenu .navLink:hover{
    color: var(--color004);
}
.dropHover{
    position: relative;
}
.dropHover .navLink-drop{
    display: block;
    font-size: 14px;
    text-shadow: #000 1px 1px;
}
.dropBox{
    position: relative;
    margin: auto -100px auto -170px;
}
.drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    border-bottom-right-radius: 30px;
}
.dropItem{
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    background: var(--color001);
    box-shadow: 1px 1px 1px var(--color002);
    backdrop-filter: blur(20px);

    gap: 6px;
    margin-top: 26px;
}
.drop .navLinkDrop{
    padding: 9px 14px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 160px;
}
.drop .navLinkDrop:hover{
    color: #000;
}
.drop .dropLogout{
    color: #fff;
}
.dropHover:hover .drop{
    height: auto;
}
.menuToggle{
    display: none;
    cursor: pointer;
}
.menuToggle .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--color004);
    transition: all 0.3s ease-in-out;
}



@media(max-width: 768px){
    
    .header{
        background: var(--color002);
    }
    .userName{
        background: #d9772cb4;
        width: 80%;
        padding: 3px 10px;
        transform: skew(-10deg);
        border-radius: 10px;
    }
    .menuToggle{
        display: block;
    }
    .menuToggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .menuToggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menuToggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navMenu{
        display: flex;
        justify-items: start;
        align-items: start;
        flex-direction: column;
        position: fixed;
        padding: 50px 20px;
        left: -100%;
        top: 95px;
        gap: 0;
        background-color: var(--color002);
        width: 100%;
        height: 100vh;
        transition: 0.3s;
    }
    .navMenu .navLink::after{
        display: none;
    }
    .navMenu .navLink{
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
    }
    .navBarItem{
        margin: 16px 0;
    }
    .navMenu.active{
        left: 0;
    }
    .dropBox{
        margin-left: -20px;
        width: 100vw;
    }
    .dropItem{
        box-shadow: none;
        backdrop-filter: none;
        background: transparent;
        margin-top: 6px;
    }
    .drop .navLinkDrop{
        font-size: 20px;
        font-weight: 700;
        margin-right: 160px;
    }
}