###############################################################################
# .gitattributes para projetos .NET
# Define comportamentos de normalização, merge e tratamento de arquivos binários
###############################################################################

###############################################################################
# Normalização de final de linha (EOL)
###############################################################################
* text=auto

###############################################################################
# Tratamento de arquivos de solução e projeto do Visual Studio
###############################################################################
*.sln       merge=binary
*.csproj    merge=binary
*.vbproj    merge=binary
*.fsproj    merge=binary

###############################################################################
# Tratamento de arquivos de imagem
###############################################################################
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.svg       binary

###############################################################################
# Configurações de diff opcionais para documentos (descomentando ativa)
###############################################################################
#*.docx      diff=astextplain
#*.pdf       diff=astextplain