.eventos-section {
    padding: 50px 0;
}
.eventos-section h1{
    color: var(--color-text-primary);
    text-shadow: var(--color-text-shadow) 1px 1px;
    font-size: var(--font-size-title);
}
.eventos-section .evento-content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-radius: 10px;

    & form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);

        & input{
            outline: none;
            border: none;
            padding: 10px 30px;
            font-size: 16px;
            color: var(--color-text-primary);
            background: var(--color-background-light);
            border: 1px solid var(--color-overlay);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            max-width: 200px;
        }
        & button{
            padding: 10px 15px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            color: var(--color-accent);
            transition: all .5s ease-in-out;
            border: 1px solid var(--color-overlay);
            background-color: white;
        }
        & button:hover{
            background: var(--color-accent);
            color: var(--color-text-light);
            transition: all .5s ease-in;
        }
    }
}

.evento-cards {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;

    & .evento-card-content{
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    & .evento-card-content:hover{
        transform: translateY(-4px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    & .evento-card-img {
    width: 100%;
    overflow: hidden;

    & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .evento-card-inf {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        padding: 30px;

        & h5 {
            font-size: 20px;
            color: var(--color-text-primary);
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            margin-bottom: 30px;
        }

        & .evento-card-inf-link {
            text-align: center;
            margin: auto;
            font-size: 14px;
            padding: 10px;
            background: var(--color-accent);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            color: white;
            text-decoration: none;
        }
        & .evento-card-inf-link:hover {
            opacity: .8;
            font-size: 16px;
            transition: all .4s ease-in-out;
        }
    }

} 

.paginacao {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;

    & button {
        margin: 0 3px;
        padding: 6px 12px;
        border: none;
        background: #ddd;
        color: var(--color-accent);
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
    }
    & .paginacao button.ativo {
        background-color: #d9782c;
        color: white;
        font-weight: bold;
    }
    & .paginacao button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}


@media(max-width: 768px) {
    .eventos-section h1{
        margin-bottom: 30px;
    }

    .eventos-section .evento-content {
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}