.dashboard-header {
  margin-bottom: 30px;
}
.dashboard-header h1 {
  font-size: 1.8rem;
  margin-bottom: 8px;
  color: #333;
}
.dashboard-header p {
  font-size: 1rem;
  color: #666;
}

/* GRID FLEXÍVEL DOS CARDS */
.card-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

/* CARD STYLE */
.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-left: 5px solid transparent;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* ÍCONE */
.card-icon {
  font-size: 2rem;
  margin-right: 15px;
}

/* TEXTO */
.card-info h3 {
  margin: 0;
  font-size: 1.6rem;
  color: #333;
}
.card-info p {
  margin: 2px 0 0;
  font-size: 0.9rem;
  color: #666;
}

.perfilUsuario{
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 20px;
  margin: 30px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  border-top: 5px solid var(--color-accent);

  & .administradores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    & div{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--color-btnTop-hover);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      font-size: 26px;
      color: var(--color-text-light);
    }
    & p{
      font-weight: normal;
      color: var(--color-background-dark);
    }
  }

  & .organizadores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    & div{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--color-btnTop-hover);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      font-size: 26px;
      color: var(--color-text-light);
    }
    & p{
      font-weight: normal;
      color: var(--color-background-dark);
    }
  }

  & .membros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    & div{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--color-btnTop-hover);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      font-size: 26px;
      color: var(--color-text-light);
    }
    & p{
      font-weight: normal;
      color: var(--color-background-dark);
    }
  }
}
