:root{
    --color00: #000000D2;
    --color01: #00000080;
    --color02: #FFFFFF;
    --color03: #D9782C;
    --color04: #D4B37F;

    --shadow00: #0A0C10FC 15%;
    --shadow01: #0A0C10B3 50%;
    --shadow02: #0A0C10FC 85%;
}



/*          hero-section            */
.hero{
    position: relative;
}
.heroSection{
    position: relative;
    height: 100vh;
}
.heroBackground{
    position: fixed;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
}
.heroBackground video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.heroBackground::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, var(--shadow00), var(--shadow01), var(--shadow02));
}
.heroContent{
    height: 80vh;
    display: flex;
    justify-content:  center;
    flex-direction: column;
}
.heroContent h1{
    font-size: 3rem;
    color: var(--color01);
    text-shadow: #000 1px 1px;
}
.heroContent p{
    color: var(--color01);
    text-shadow: #000 1px 1px;
    margin: 20px 0;
    line-height: 1.3;
    font-size: 17px;
}
.heroContent div{
    display: flex;
    column-gap: 32px;
}
.heroContent div .btnDescubra{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    transform: skew(-10deg);
    border: 1px solid var(--color03);
    transition: all .5s ease-in-out;
}
.heroContent div .btnDescubra:hover{
    background: var(--color03);
}
