*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}
body{
    overflow-x: hidden;
    background: var(--colorBG);
}

.layout-container{
    padding: 0 20px;
    margin: auto;
    max-width: 1100px;
}

:root{
    --colorBG: #ccc7a5a4;
    --color00: #0d0d0d;
    --color01: #fff;
}
.nav-link, a{
    text-decoration: none;
    color: var(--color01);
}
li{
    list-style-type: none;
}
