/*  Config Global   */
:root{
    --color001: #d4b37f36;
    --color002: #000000e5;
    --color003: #fff;
    --color004: #d9782c;
}
/*  Config Global   */

header{
    background-color: var(--color001);
    box-shadow: 1px 2px 3px var(--color002);
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo .nav-link{
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: #000 1px 1px;

}
.navbar-logo .nav-link{
    color: #d9782c;
}
.navbar-logo .nav-link::after{
    content: '';
    width: 70%;
    height: .3rem;
    background-color: var(--color004);
    display: block;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu .nav-link{
    transition: 0.5s ease;
    position: relative;
    padding: 0 10px;
}
.nav-menu .nav-link:hover{
    color: var(--color004);
}
.nav-menu .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--color004);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.nav-menu .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .4s;
}
.drop-hover{
    position: relative;
}
.drop-hover .nav-link-drop{
    font-size: 18px;
    display: block;
}
.drop {
    position: absolute;
    width: 110%;
    height: 0;
    overflow: hidden;
    background: var(--color004);
}
.drop .nav-link-drop{
    padding: 5px 6px;
}
.drop .nav-link-drop:hover{
    color: #000;
}
.drop-hover:hover .drop{
    height: 130px;
}
.drop:nth-child(2){
    width: 165px;
}
.drop-hover:hover .drop:nth-child(2){
    height: 136px;
}
.menu-toggle{
    display: none;
    cursor: pointer;
}
.menu-toggle .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--color004);
    transition: all 0.3s ease-in-out;
}



@media(max-width: 768px){
    .drop-hover{
        display: none;
    }
    header{
        background: var(--color002);
    }
    .menu-toggle{
        display: block;
    }
    .menu-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--color002);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nabar-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

}