/*  Config Global   */
:root{
    --color001: #d4b37f36;
    --color002: #000000e5;
    --color003: #fff;
    --color004: #d9782c;
}
/*  Config Global   */

header{
    background-color: var(--color001);
    box-shadow: 1px 1px 1px var(--color002);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2px 0 8px 0;
}
.username{
    background: #d9772cb4;
    width: 40%;
    padding: 2px 10px;
    transform: skew(-10deg);
    border-radius: 10px;
}
.username p, .username p strong{
    font-size: 14px;
    text-shadow: #000 1px 1px;
    color: #fff;
}
.navbar{
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo .nav-link{
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: #000 1px 1px;
    color: #d9782c;
}
.navbar-logo .nav-link::after{
    content: '';
    width: 70%;
    height: .3rem;
    background-color: var(--color004);
    transform: skew(-10deg);
    box-shadow: #000 1px 1px;
    display: block;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu .nav-link{
    transition: 0.5s ease;
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    text-shadow: #000 1px 1px;
}
.nav-menu .nav-link:hover{
    color: var(--color004);
}
.nav-menu .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--color004);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.nav-menu .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .4s;
}
.drop-hover{
    position: relative;
}
.drop-hover .nav-link-drop{
    display: block;
    font-size: 14px;
    text-shadow: #000 1px 1px;
}
.drop {
    position: absolute;
    width: 100%;
    min-width: 160px;
    height: 0;
    overflow: hidden;
    background: var(--color004);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.drop .nav-link-drop{
    padding: 9px 14px;
}
.drop .nav-link-drop:hover{
    color: #000;
}
.drop-hover:hover .drop{
    height: auto;
}
.menu-toggle{
    display: none;
    cursor: pointer;
}
.menu-toggle .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--color004);
    transition: all 0.3s ease-in-out;
}



@media(max-width: 768px){
    header{
        background: var(--color002);
    }
    .username{
        background: #d9772cb4;
        width: 80%;
        padding: 3px 10px;
        transform: skew(-10deg);
        border-radius: 10px;
    }
    .menu-toggle{
        display: block;
    }
    .menu-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--color002);
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
    }
    .nabar-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .drop {
        position: relative;
        width: 100%;
        max-width: 100%;
        background: transparent;
    }
    .drop .nav-link-drop:hover{
        color: #d9782c;
    }
}