.administrativa-section {
    padding: 50px 0;
    min-height: 60vh;
    background-color: #f9f9f9;
}
.administrativa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.administrativa-context {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.administrativa-context h1 {
    text-shadow: #000 1px 1px;
    font-size: 2rem;
    margin-bottom: 15px;
    color: #222;
}
.administrativa-context p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    color: #333;
    margin: 0 auto;
    text-align: justify;
}
.administrativa-button {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.administrativa-button .nav-link {
    text-decoration: none;
}
.administrativa-button button {
    border: none;
    background: transparent;
    background: #d9782c;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.administrativa-button button:hover {
    background: #000;
    border: none;
    color: #d9782c;
}


/* Responsivo */
@media (max-width: 768px) {
    .administrativa-context h1 {
        font-size: 1.4rem;
    }

    .administrativa-button {
        flex-direction: column;
        gap: 10px;
    }

    .administrativa-button button {
        width: 100%;
    }
}