.presencaHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .presencaNumero{
        display: flex;
        align-items: center;
        min-width: 140px;
        min-height: 20px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
        border-radius: 10px;
        border-left: 5px solid var(--color-accent);

        & h3{
            font-size: 2rem;
            color: var(--color-accent);
        }
    }
    & .presencaNumero:hover {
        transform: translateX(-4px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    & .presencaBuscar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        background-color: var(--color-accent);
        padding-right: 3px;

        & input{
            outline: none;
            border: 2px solid var(--color-accent);
            padding: 10px;
            font-size: 16px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        & .presencaBtnSearch{
            border: none;
            background: var(--color-accent);
            padding: 0 7px;
            color: var(--color-background-light);
            cursor: pointer;
        }
        & .presencaBtnSearch:hover{
            color: var(--color-text-primary);
            transition: all .4s ease-in-out;
        }
    }
}

.presencaTabela{
    margin: 50px 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    overflow: hidden;

    & table{
        width: 100%;
        border-collapse: collapse;

        & th, td{
            padding: 10px;
            text-align: left;
            font-size: 16px;
        }
        & th {
            background-color: var(--color-accent);
            color: var(--color-text-light);
        }
        & p{
            background: #1cc88a;
            padding: 1px;
            text-align: center;
            font-size: unset;
            font-weight: bold;
            border-radius: 10px;
            color: var(--color-text-light);
        }
    }
}

.imprimir button{
    background-color: var(--color-trasparent);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.563);
    border-radius: 10px;
    border-left: 8px solid var(--color-accent);
    cursor: pointer;
    padding: 7px 20px;
    font-size: 17px;
    font-weight: bold;
}
.imprimir button:hover {
    transform: translateX(4px);
    border-left: 0px;
    transition: all .4s ease-in-out;
    color: var(--color-accent);
}