.admin-layout {
    display: flex;
    padding: 30px 0;
}

.admin-content {
  flex: 1;
  padding: 0px 20px;
}

.administrativa-context {
  padding: 30px 0;
  text-align: start;
}

.administrativa-context h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.administrativa-context p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #444;
}

@media(max-width: 768px){
  .admin-layout {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    width: 100%;
  }
  .admin-content {
    flex: 1;
    padding: 0;
  }
}