.admin-layout {
    display: flex;
}

.admin-content {
  flex: 1;
  padding: 0px 20px;
}

.administrativa-context {
  padding: 30px 0;
  text-align: start;
}

.administrativa-context h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.administrativa-context p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #444;
}