.usuarioEdit-section{
    padding: 60px 0;
    width: 100%;
}
.usuarioEdit-section h1{
    color: var(--color-text-primary);
    text-shadow: var(--color-text-shadow) 1px 1px;
    font-size: var(--font-size-title);
}
.usuarioEditForm form{
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;

    & input{
        outline: none;
        padding: 10px 0 10px 10px;
        border: 1px solid var(--color-overlay);
        border-radius: 10px;
        width: 100%;
        color: var(--color-text-primary);
        font-size: var(--font-size-primary);
    }
    & button{
        border: none;
        padding: 6px 40px;
        border-radius: 10px;
        background: var(--color-accent);
        color: var(--color-text-light);
        cursor: pointer;
    }
    & button:hover{
        opacity: .6;
        transition: all .3s ease-in;
    }
}