.site-footer{
    background: #0d0d0d;
    width: 100%;
    color: #fff;
}
.footer-top{
    padding: 50px 0;
}
.footer-top .footer-title h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}
.footer-top .footer-links{
    padding: 30px 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.footer-top .footer-links .footer-column{
    padding: 10px;
    height: 100%;
    min-height: 176px;
}
.footer-top .footer-links .footer-column h3{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bolder;
}
.footer-top .footer-links .footer-column a, li{
    font-size: 16px;
    margin: 10px 0;
}
.footer-top .footer-links .footer-column a:hover{
    text-decoration: underline;
}
.footer-top .footer-links .footer-column .nav-link, li{
    font-size: 16px;
    margin: 10px 0;
}
.footer-top .footer-links .footer-column .nav-link:hover{
    text-decoration: underline;
}


.footer-bottom{
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 13px;
    padding: 30px 0;
    border-top: 1px solid #fff;
}
.footer-bottom p, .footer-bottom p a{
    font-size: 14px;
}
.footer-bottom a{
    margin: 0 7px;
    font-size: 16px;
}
.footer-bottom a:hover{
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
    font-size: 24px;
    margin-top: 10px;
}
.social-icons a {
    color: #fff;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #d9782c;
}
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9782c;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    z-index: 999;
    width: 50px;
    height: 50px;
}
.btn-top:hover {
    background-color: #d4b37f;
}




@media(max-width: 768px){
    .footer-top .footer-links{
        flex-direction: column;
    }
    .footer-top .footer-links .footer-column{
        width: 100%;
    }

    .footer-bottom{
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 14px;
        font-size: 13px;
        padding: 30px 0;
        border-top: 1px solid #fff;
    }
}