@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    font-family: "Playfair Display", serif;
    font-style: normal;
}
body{
    overflow-x: hidden;
    background-color: var(--color-background-light)
}
.layoutContainer{
    padding: 0 20px;
    margin: auto;
    max-width: 1100px;
}
.navLink, a{
    text-decoration: none;
    color: var(--color-text-light);
}
li{
    list-style-type: none;
}