:root {
    --color-text-primary: #0D0D0D;  
    --color-text-light: #FFFFFF;  
    --color-text-dark: #0000004d;; 
    --color-text-shadow: #000; 
    
    --color-background-light: #F9F9F9; 
    --color-background-dark: #222222;
    --color-overlay: #CCC7A5A4;
    --color-surface-dark: #333333;  
    --color-accent: #D9782C; 
    --color-accent-primary: #d9772cb4;
    --color-trasparent: #d4b37f36;  
    --color-shadow: #000000e5; 
    --color-btnTop-hover: #d4b37f; 
    --color-btnNot: #d10808; 
    --color-btnYes: #7fd4cd;     
        

    --font-size-base: 22px; 
    --font-size-primary: 16px;
    --font-size-title: 37px       
}
