.eventoMain{
    width: 100%;
}

.eventoHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .eventoBtnAdd{
        border: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: var(--color-text-primary);
        padding: 10px;
        border-radius: 10px;
        border: 2px solid var(--color-accent);
        cursor: pointer;
        background: transparent;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
    }
    & .eventoBtnAdd:hover{
        background-color: var(--color-accent);
        transition: all .4s ease-in-out;
        color: var(--color-background-light);
    }

    & .eventoBuscar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        background-color: var(--color-accent);
        padding-right: 3px;

        & input{
            outline: none;
            border: 2px solid var(--color-accent);
            padding: 10px;
            font-size: 16px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        & .eventoBtnSearch{
            border: none;
            background: var(--color-accent);
            padding: 0 7px;
            color: var(--color-background-light);
            cursor: pointer;
        }
        & .eventoBtnSearch:hover{
            color: var(--color-text-primary);
            transition: all .4s ease-in-out;
        }
    }
}

.eventoTabela{
    margin: 50px 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    overflow: hidden;

    & table{
        width: 100%;
        border-collapse: collapse;

        & th, td{
            padding: 10px;
            text-align: left;
            font-size: 16px;
        }
        & th {
            background-color: var(--color-accent);
            color: var(--color-text-light);
        }
        & .acoes button {
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 8px;
            color: var(--color-background-dark);
            font-size: .8rem;
        }
        & .acoes button:hover {
            color: var(--color-accent);
        }
        & .status-0 {
            background-color: #ffdd57; 
            padding: 1px;
            text-align: center;
            font-size: unset;
            font-weight: bold;
            border-radius: 10px;
        }
        & .status-1 {
            background-color: #4caf50; 
            padding: 1px;
            text-align: center;
            font-size: unset;
            font-weight: bold;
            border-radius: 10px;
        }
        & .status-2 {
            background-color: #f44336; 
            padding: 1px;
            text-align: center;
            font-size: unset;
            font-weight: bold;
            border-radius: 10px;
        }
    }
}

.paginacao{
    & span{
        font-size: 16px;
        font-weight: bold;
    }
}

.imprimir button{
    background-color: var(--color-trasparent);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.563);
    border-radius: 10px;
    border-left: 8px solid var(--color-accent);
    cursor: pointer;
    padding: 7px 20px;
    font-size: 17px;
    font-weight: bold;
}
.imprimir button:hover {
    transform: translateX(4px);
    border-left: 0px;
    transition: all .4s ease-in-out;
    color: var(--color-accent);
}



.imprimir {
  text-align: right;
  margin-top: 1rem;
}

.imprimir button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.imprimir button:hover {
  background-color: #45a049;
}
.mensagem-erro {
  color: #b30000;
  background-color: #ffe5e5;
  padding: 10px;
  border-radius: 6px;
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
}

