.presencaSection{
    padding: 50px 0;
    width: 100%;
}
.presencaSection h1{
    color: var(--color-text-primary);
    text-shadow: var(--color-text-shadow) 1px 1px;
    font-size: var(--font-size-title);
    margin-bottom: 40px;
}

.presencaContext{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-accent-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.329);
  margin: 18px;
  padding: 20px;
  min-width: 250px;
  border-radius: 10px;

  & p{
    color: var(--color-text-primary);
    font-weight: bold;
    font-size: var(--font-size-primary);

    & span{
      font-weight: normal;
      font-size: var(--font-size-primary);
    }
  }
  & .btnDetalhes{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-dark);
  }
  & .btnDetalhes:hover{
    color: var(--color-background-light);
    opacity: .6;
  }
}