@tailwind base;
@tailwind components;
@tailwind utilities;

.layoutContainer{
    padding: 0 20px;
    margin: auto;
    max-width: 1100px;
}

:root { 

    --color-background-light: #F9F9F9; 
    --color-background-dark: #222222;
    --color-overlay: #CCC7A5A4;
    --color-surface-dark: #333333;  
    --color-accent: #D9782C; 
    --color-accent-primary: #d9772cb4;
    --color-trasparent: #d4b37f36;  
    --color-shadow: #000000e5;      
}